.main-search {
  max-width: 1080px;
  margin: 160px auto;
  & .field {
    display: grid;
    grid-template-columns: 548px 348px;
    grid-gap: 8px;
    margin-right: 8px;
    & .input {
      .subHead{
        display: block;
      }
      > input {
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        border-radius: 4px;
        background: #F1F3F9;
        color: #031735;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500px;
      }
    }
    
  }
  > form {
    display: flex;
    align-items: center;
    > button {
      width: 112px;
      height: 40px;
    }
  }
}